@import '../../style/variables.scss';

.restaurant-heading {
    color: $text-color;
    padding-left: 18px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    &__name {
        font-weight: 800;
        font-size: 36px;
        line-height: 45px;
    }
    &__description {
        font-weight: 500;
        font-size: $rest-descr-fz;
        line-height: 15px;
    }
    &__info {
        height: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 22px;
    }
    &__right {
        padding-top: 10px;
        cursor: pointer;
    }
}

.info-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:7px;
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
}

.contacts {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
    color: $text-color;
    &-item {
        display: block;
        font-weight: 800;
        font-size: 20px;
        line-height: 25px;
        text-decoration: none;
        color: $text-color;
    }
    &-text {
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: $text-color;
    }
}

@media (max-width: 767.98px) {
    .restaurant-heading {
        padding-left: 13px; 
        &__name {
            font-size: 24px;
        }
    }
}