@import '../../style/variables.scss';

.restaurant-heading {
    color: $text-color;
    padding-left: 18px;

    &__name {
        font-weight: 800;
        font-size: 36px;
        line-height: 45px;
    }
    &__description {
        font-weight: 500;
        font-size: $rest-descr-fz;
        line-height: 15px;
    }
    &__info {
        height: 40px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 22px;
        // padding-top: 7px;
    }
}

.info-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:7px;
    font-weight: 900;
    font-size: 14px;
    line-height: 18px;
}

@media (max-width: 767.98px) {
    .restaurant-heading {
        padding-left: 13px; 
        &__name {
            font-size: 24px;
        }
    }
}