@import '../../style/variables.scss';

.cart {
    &-items {
        padding-bottom: 28px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
